.Side-bar
  .Side-header
    .User-info
      .User-info__name
        wataru
      .User-info__icon
        = link_to "#", class:"User-info__icon__btn" do
          = icon('far', 'edit' )
          %span.txtred<>
        = link_to "#", class:"User-info__icon__btn" do
          = icon('fas', 'cog' )
  .Group-lists
    .Group-lists__name
      techcamp
    .Group-lists__latest-message
      おはよう
    .Group-lists__name
      techcamp2
    .Group-lists__latest-message
      まだメッセージがありません
    .Group-lists__name
      techcamp3
    .Group-lists__latest-message
      まだメッセージがありません
    .Group-lists__name
      techcamp4
    .Group-lists__latest-message
      まだメッセージがありません