@import "colors";
@import "form-size-definitions";

.Chat-main {
  width: calc(100vw - 300px);
  .Main-header {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    .Group-info {
      margin-left: 40px;
      height: inherit;
      &__name {
        margin-top: 35px;
        color: $font-color-black;
        font-size: 20px;
      }
      &__member {
        margin-top: 15px;
        color: $font-color-gray;
        font-size: 12px;
      }
    }
    .Group-edit {
      height: 100%;
      width: 112px;
      vertical-align: middle;
      &__btn {
        margin: 28px 40px 0 0;
        padding: 0 20px;
        display: block;
        height: 40px;
        width: 72px;
        border: 1px solid $submit-blue;
        color: $submit-blue;
        text-decoration: none;
        font-size: 16px;
        line-height: 40px;
      }
    }
    
  }
  .Message-list {
    padding: 35px 0 0 40px;
    height: calc(100vh - 190px);
    background-color: #fafafa;
    &__content {
      margin-bottom: 12px;
      display: flex;
      &__user-name {
        margin-right: 5px;
        color: $font-color-black;
        font-size: 16px;
      }
      &__date {
        color: $font-color-gray;
        font-size: 12px;
      }
    }
    &__files {
      .message{
        margin-bottom: 46px;
        color: #434a54;
        font-size: 14px;
      }
      .image{
        height: 300px;
      }
    }
  }

  .Main-footer {
    height: 90px;
    padding: calc((90px - #{$form-height}) / 2) 40px;
    background-color: #d2d2d2;
    .Message-form {
      height: $form-height;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__field {
        height: inherit;
        width: inherit;
        margin-right: 15px;
        position: relative;
        .field_with_errors{
          height: inherit;
          width: inherit;
          // position: relative;
        }
        &__text {
          height: inherit;
          width: inherit;
          padding: 0 10px;
          line-height: $form-height;
          border: none;
        }
        &__image {
            height: inherit;
            line-height: $form-height;
            position: absolute;
            right: 10px;
            bottom: 0;
            cursor: pointer;
            .Hidden {
              display: none;
            }
        }
      }
      &__btn {
      height: inherit;
      width: auto;
      padding: 0 $send-btn-width;
      line-height: $form-height;
      background-color: $submit-blue;
      color: #fff;
      font-size: 16px;
      border: none;
      cursor: pointer;
      }
    }
  }
}